.createButton {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 50px;
  height: 50px;
  padding: 5px 0 10px;

  font-family: 'HelveticaNeueCyrLight', sans-serif;
  font-size: 30px;

  border: none;
  border-radius: 50%;

  color: #fff;
}

.active__button {
  background-color: var(--orange);
}

.passive__button {
  background-color: #96999b;
}

.createButton:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.createButton:active {
  box-shadow: inset 2px 2px 2px 2px hsla(0, 0%, 0%, 0.2);
}
