.wrapBtn {
  max-width: 120px;
  display: flex;
}

.editingWrp {
  border: 2px solid var(--light-blue);
  border-radius: 10px;
}

.createQuest {
  color: var(--light-gray);
  text-align: center;
  font-family: 'HelveticaNeueCyrRoman', sans-serif;
  font-size: 12px;
}
