.fluid {
  background-color: var(--dark-blue);
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 23px 0;
  width: 283px;
  margin: auto;
}

/* .logo_link {
  font-weight: 700;
  font-size: 15px;
  font-family: 'HelveticaNeueCyrBold';
  color: var(--light-blue);
  line-height: 1;
} */
.logo {
  font-weight: 700;
  font-size: 15px;
  font-family: 'HelveticaNeueCyrBold';
  color: var(--light-blue);
  line-height: 1;
}

/* .user {
  display: flex; */
/* } */

.firstLetter {
  color: #fff;
  --size: 21px;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'HelveticaNeueCyrBold', sans-serif;
  font-weight: 500;
  margin-left: auto;
  background-color: #3e4e6c;
  border-radius: var(--size);
}

.name {
  display: none;
}

.icon {
  display: flex;
  justify-content: flex-end;
}

.img {
  width: 100%;
}

.img_wrp {
  border-radius: var(--size);
  background-color: var(--light-blue);
  padding: 6px;
  box-shadow: 0 6px 13px rgba(0, 216, 255, 0.43);
  --size: 22px;
  width: var(--size);
  height: var(--size);
  display: flex;
  border: none;
  /* display: inline-block; */
  align-items: center;
  margin: 0 19px;
}

.btnLogout {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  width: 21px;
}

@media (min-width: 768px) {
  .container {
    width: 709px;
  }
  .logo_link {
    font-size: 20px;
  }

  .firstLetter {
    --size: 35px;
    font-size: 17px;
    margin-left: 0;
    margin-right: 16px;
    padding-top: 1px;
  }

  .user {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .name {
    display: block;
    font-size: 17px;
    letter-spacing: 0.85px;
    font-family: 'HelveticaNeueCyrRoman', sans-serif;
    color: #758ba7;
  }

  .img_wrp {
    --size: 35px;
    padding: 9px;
    margin: 0;
    margin-right: 35px;
  }
  .btnLogout {
    width: 25px;
  }
}

@media (min-width: 1756px) {
  .container {
    width: 1736px;
  }
  .img_wrp {
    margin-right: 40px;
  }
}
